/* General*/
html{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1{
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.25;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: -1px;
}
a{
      text-decoration: none;
      color: #fff;
}
/* Termina General*/

/* Cabecera*/
.header{
  background-color: #000;
}
.felxpadre{
  display: flex;
  justify-content: space-between;
}
.flexboxlista {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
}

.flexboxtitle{
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  justify-content: flex-start;
  align-items: center;
  font-size: 35px;
}

.flexboxtitle p{
  color: #fff;
  padding: 15px;
  border: 2px solid #fff;
}

.flexboxlista li{
  margin 15px;
  padding: 30px;
  list-style: none;
}
/* Termina Cabecera*/

/*Hero*/

.hero{
  margin: 0;
  padding: 0;
}

.hero h1{
  margin: 0;
  padding: 0;
}

.flexGeneralHero{
  display: flex;
  justify-content: space-between;
  background-image: url(../images/paisaje-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20px;
}


.flexTextoHero h1 {
  margin: 20px 50px 50px 50px;
  padding: 10px 50px 50px 50px;
  color: #fff;
}

.flexFotoHero{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

.hero p{
  display: flex;
  margin: 0px;
  padding: 0;
  background-color: #000;
  color: #fff;
  height: 100px;
  align-items:center;
  justify-content: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 18px;
}
/* Termina Hero*/

/*Catálogo y Proyectos Personales*/

.portfolio h2, .personal_projects h2{
  display: flex;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  font-size: 35px;
}

.personal_projects{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.flexPortafolio, .flexProyectosPersonales{
  display: flex;
  justify-content: space-around;
  /*background-color: #000;*/
  padding-bottom: 20px;
  width: inherit;
  flex-wrap: wrap;
  background-image: url(../images/paisaje-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item, .project{
  margin: 20px;
  padding: 30px;
  border: 1px solid #fff;
  /*background-color: #76BDD6;*/
  /*background-color: #204265;*/
  background-color: #000;
  padding-top: 10px;
  flex-shrink: 0;
  width: 775px;
  height: 650px;
}
.item_title, .project_title{
  font-size: 25px;
  text-align: center;
  color: #fff;
}

.item_description, .project_description{
  color: #fff;
}

.item_tech, .project_tech{
  color: #fff;
  /*color: #76BDD6;*/
}

.item_image, .project_image{
  /*width: 321px;
  height: 225px;*/

  width: 500px;
  height: 350px;

  margin: 10px;
  padding: 10px;
  border: 1px solid #fff;
}
.item_image_container, .project_image_container{
    display: flex;
    justify-content: center;
}

/* Termina Catálogo y Proyectos Personales  */

/* Contacto */

.flexContacto{
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flexContacto_Titulo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialitem{
  width: 75px;
  height: 75px;
}

/* Termina contacto */

/* Pie de página */

.footer{
  background-color: #000;
  color: #fff;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

/*Termina Pie de página */

#git{
  display: none;
}
